body, html {
  margin: 0;
  padding: 0;
}

.about-us-page {
  height: 100vh;
  text-align: left;
  min-height: calc(100vh - 100px); /* Use min-height instead of max-height */
  background-image: url('./img/background-no-logo.png');
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-page h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  margin-top: 50px;
}

.about-us-page h2{
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 50px;
}

.about-us-page p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  line-height: 1.6;
}

.about-us-content {
  overflow: hidden;
  text-align: left;
  max-height: calc(100vh - 100px); /* Adjust the value as needed */
  overflow-y: auto; /* Add vertical scroll if content exceeds max height */
  scrollbar-width: none;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-top: 80px;
  max-width: 80%;
}

/* Hide Webkit scrollbars (Chrome, Safari, newer versions of Opera) */
.about-us-content::-webkit-scrollbar {
  width: 0.1rem;
  background-color: transparent;
}

.paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.paragraph p {
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: justify;
}

.content-image {
  max-width: 60%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%; /* Add this rule to make the image scale */
  object-fit: contain; /* Maintain aspect ratio and fit within the container */
}

@media (max-width: 768px) {
  .about-us-page h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .about-us-page h2{
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .about-us-page p {
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.6;
  }

  .about-us-content {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 100px;
  }

  .content-image {
    max-width: 100%;
  }
}