/* App.css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-image: url('./img/black-leather.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide overflow to prevent scrollbars */
}

.black-bar-side {
  width: var(--black-bar-width);
  background-image: url('./img/black-leather.png');
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  border-top: 1px solid #AFAFAF;
  border-radius: 5px;
}

.black-bar-top {
  height: var(--black-bar-top-height);
  background-color: black;  
  background-image: url('./img/black-leather.png');
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  border-radius: 5px;
  border: 1px solid #AFAFAF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.black-bar-bottom {
  border-radius: 5px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.logo-small {
  display: block; /* Ensure the image is treated as a block element */
  height: 50px;
  width: auto;
  position: relative;
}

.black-bar-side.left {
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-left: 1px solid #AFAFAF;
  border-radius: 5px;
  z-index: 1000;

}

.black-bar-side.right {
  right: 0;
  display: flex;
  align-items: center;
  padding-right: 10px;
  border-right: 1px solid #AFAFAF;
  border-radius: 5px;
  z-index: 1000;
}

.black-bar-bottom {
  height: var(--black-bar-bottom-height);
  background-color: black;  
  background-image: url('./img/black-leather.png');
  position: absolute;
  width: 100%;
  z-index: 1;
}

.menu-button {
  cursor: pointer;
  z-index: 1002;
  font-size: 48px;
  margin-left: 20px;
  color: #AFAFAF;
  height: 50px;
  width: 50px;
  min-width: 50px;
  min-height: 50px;
  position: relative;
}

.menu-button:hover, .logo-small:hover, #shopping-cart-button-container:hover {
  transform: scale(1.05);
}

#shopping-cart-button-container {
  cursor: pointer;
  z-index: 1002;
  margin-right: 20px;
  margin-bottom: 7px;
  height: 50px;
  width: auto;
  transition: 0.1s ease-in-out;
  position: relative;
}

.cart-badge {
  position: absolute;
  top: 0;
  right: 38px;
  background-color: rgb(77, 12, 12);
  background-image: url('./img/red-leather.png');
  color: white;
  border: 1px solid #AFAFAF;
  border-radius: 10px;
  width: auto;
  padding: 0 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  font-family: 'Montserrat Alternates', sans-serif;
}


#shopping-cart-button {
  height: 100%; /* Ensure the img takes the full height of the container */
  width: auto;
}


/* CSS class for scaling up */
#shopping-cart-button-container.scaling-up {
  transform: scale(1.15);
}

/* CSS class for scaling down */
#shopping-cart-button-container.scaling-down {
  transform: scale(1);
}

.MuiModal-root {
  display: flex; 
  position: fixed; /* Use fixed position to keep the modal in place */
  top: 0; /* Position from the top */
  left: -250px; /* Initially position the modal off-screen to the left */
  animation: slideInModal 0.3s forwards; /* Apply the slide animation */
}

.MuiSvgIcon-root {
  width: 90%;
  height: auto !important; /* Maintain the aspect ratio */
  max-height: 70px !important;
  min-height: 50px !important;
}

/* Define the keyframe animation */
@keyframes slideInModal {
  from {
    left: -250px; /* Start position off-screen to the left */
  }
  to {
    left: 0; /* End position to be fully visible */
  }
}

/* Add a new keyframe animation for sliding out the modal */
@keyframes slideOutModal {
  from {
    left: 0; /* Start position fully visible */
  }
  to {
    left: -250px; /* End position off-screen to the left */
  }
}

.MuiSvgIcon-root {
  width: 100% !important;
}

.modal-content {
  width: 250px;
  background-color: black;  
  background-image: url('./img/black-leather.png');
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  color: white;
  outline: none;

}

.modal-list {
  padding: 0;
}

.MuiTypography-root {
  font-size: 1.5rem !important;
  font-family: 'Montserrat Alternates', sans-serif !important;
}

.modal-item {
  color: white;
  padding: 10px;
  background-color: black;  
  background-image: url('./img/black-leather.png');
  cursor: pointer;
  transition: background-image 0.2s, background-color 0.2s, ease-in-out 0.2s, transform 0.2s;
  transform: scale(1);
}

.modal-item:hover {
  transform: scale(1.1);
  background-color: #1e150f!important;
  background-image: url('./img/brown-leather.png')!important;
  z-index: 1000;
}

.modal-item::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url('./img/bean.png'); /* Replace with your image source path */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px; /* Add some space between the image and text */
}

#cart-modal-item::before {
  background-image: url('./img/shopping-cart.png'); /* Replace with your image source path */
}

/* For Chrome, Safari, and newer versions of Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Remove default margins */
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield; /* Restore the appearance to a regular text field */
  appearance: textfield; /* Restore the appearance to a regular text field */
}

:root {
  --black-bar-bottom-height: 200px;
  --black-bar-width: 5vw;
  --black-bar-top-height: 70px;
}

button {
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 10px 20px;
  background-color: black; 
  background-image: url('./img/black-leather.png');
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
}

@media (max-width: 500px) {
  :root {
    --black-bar-width: 0;
  }

  #shopping-cart-button-container {
    margin-right: 10px;
  }

  .menu-button {
    margin-left: 10px;
  }
}