/* ContactUsPage.css */
body, html {
  margin: 0;
  padding: 0;
}

.contact-us-header {
  font-size: 4rem;
}

.contact-us-page {
  width: 100%;
  height: 100vh;
  text-align: left;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
}

.contact-us-content-and-bottom {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.contact-us-content {
  margin-top: var(--black-bar-top-height);
  margin-left: var(--black-bar-width);
  margin-right: var(--black-bar-width);
  text-align: left;
  overflow-y: auto;
  padding: 0 10%;
  background-image: url('./img/background-no-logo.png');
  min-height: calc(100vh - var(--black-bar-top-height));
}

/* Hide Webkit scrollbars (Chrome, Safari, newer versions of Opera) */
.contact-us-content::-webkit-scrollbar {
  width: 0.1rem;
  background-color: transparent;
}

/* Hide Firefox scrollbar */
.contact-us-content {
  scrollbar-width: none;
}

/* Styles for sub-sections within contact-us-content */
.sub-section {
  margin-bottom: 40px;
}

.sub-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.sub-section p {
  font-size: 1.4rem;
  margin-bottom: 10px;
  line-height: 1.6;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image-small {
  padding: 10px;
  width: 100px;
  height: 100px;
}

.product-table {
  overflow-x: auto;
  margin-top: 5rem;
  border-collapse: collapse;
  width: 100%;
  max-width: calc(100vw - 200px);
}

.product-table th,
.product-table td {
  border: 1px solid black;
  padding: 8px;
  align-items: center;
  text-align: center;
}


.product-table th {
  background-color: black;
  color: white;
}

.product-cell {
  display: flex;
  align-items: center;
}

.product-info-small {
  flex-grow: 1;
  width: 100%;
  align-items: center;
  background: black;
  color: white;
}


.roast-select {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
}

.form-field input[type="checkbox"] {
  flex: 1;
  margin-right: 10px;
}

.form-field textarea {
  resize: vertical;
}

.total-label {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
}

button {
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
}

.check-box {
  transform: scale(2); /* Make the checkbox larger */
  appearance: none; /* Remove default styles */
  -webkit-appearance: none; /* For older versions of WebKit browsers */
  background-color: white; /* Set the checkbox color to grey by default */
  border: 2px solid rgb(0, 0, 0); /* Add a white border to the checkbox */
  border-radius: 5px; /* Add rounded edges to the checkbox */
  width: 20px; /* Set a fixed width */
  height: 20px; /* Set a fixed height */
  cursor: pointer; /* Add a pointer cursor */
}

/* Style the checkbox when checked */
.check-box:checked {
  background-color: rgb(34, 29, 29); /* Change the background color to black when checked */
  border: 2px solid black; /* Change the border color to black when checked */
}

.quantity-input-edit {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  width: 8vh;
}

@media (max-width: 768px) {
  .contact-us-content {
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .contact-us-header {
    font-size: 2.5rem;
  }

  .sub-section h2 {
    font-size: 1.5rem;
  }
  
  .sub-section p {
    font-size: 1rem;
  }
  
  .form-field label {
    margin-left: 50px;
    font-size: 1.2rem;
  }
  
}