/* ContactUsPage.css */
body, html {
  margin: 0;
  padding: 0;
}

h1 {
  font-size:4rem;
}

.contact-us-page {
  height: 100vh;
  text-align: left;
  min-height: calc(100vh - 100px);
  background-image: url('./img/background-no-logo.png');
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-us-content {
  margin-top: 80px;
  margin-left: 8vw;
  margin-right: 8vw;
  overflow: hidden;
  text-align: left;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

/* Hide Webkit scrollbars (Chrome, Safari, newer versions of Opera) */
.contact-us-content::-webkit-scrollbar {
  width: 0.1rem;
  background-color: transparent;
}

/* Hide Firefox scrollbar */
.contact-us-content {
  scrollbar-width: none;
}

/* Styles for sub-sections within contact-us-content */
.sub-section {
  margin-bottom: 40px;
}

.sub-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.sub-section p {
  font-size: 1.4rem;
  margin-bottom: 10px;
  line-height: 1.6;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image-small {
  padding: 10px;
  width: 100px;
  height: 100px;
}

.product-table {
  margin-top: 5rem;
  border-collapse: collapse;
  width: 100%;
  max-width: calc(100vw - 200px);
}

.product-table th,
.product-table td {
  border: 1px solid black;
  padding: 8px;
  align-items: center;
  text-align: center;
}


.product-table th {
  background-color: black;
  color: white;
}

.product-cell {
  display: flex;
  align-items: center;
}

.product-info-small {
  flex-grow: 1;
  width: 100%;
  align-items: center;
  background: black;
  color: white;
}

.form-field {
  display: flex;
  align-items: center; /* Align labels and inputs on the same line */
  margin-bottom: 20px;
  margin-top: 25px;
  flex-direction: row;
}

.form-field label {
  width: 25ch; /* Set a fixed width for labels, e.g., 25 characters */
  text-align: left;
  margin-right: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

.form-field-input {
  flex: 1; /* Let the input fields take up the remaining space */
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
  align-items: left; /* Align input to the left */
}

.form-field input,
.form-field select,
.form-field textarea {
  width: 100%; /* Make the input fields full width of the container */
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: left;
  max-width: 500px; /* Set a maximum width for the input fields */
}

.roast-select {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
}

.form-field input[type="checkbox"] {
  flex: 1;
  margin-right: 10px;
}

.form-field textarea {
  resize: vertical;
}

.total-label {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
}

button {
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
}

.check-box {
  transform: scale(2); /* Make the checkbox larger */
  appearance: none; /* Remove default styles */
  -webkit-appearance: none; /* For older versions of WebKit browsers */
  background-color: white; /* Set the checkbox color to grey by default */
  border: 2px solid rgb(0, 0, 0); /* Add a white border to the checkbox */
  border-radius: 5px; /* Add rounded edges to the checkbox */
  width: 20px; /* Set a fixed width */
  height: 20px; /* Set a fixed height */
  cursor: pointer; /* Add a pointer cursor */
}

/* Style the checkbox when checked */
.check-box:checked {
  background-color: rgb(34, 29, 29); /* Change the background color to black when checked */
  border: 2px solid black; /* Change the border color to black when checked */
}

.quantity-input {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  width: 8vh;
}

/* For Chrome, Safari, and newer versions of Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Remove default margins */
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield; /* Restore the appearance to a regular text field */
}

@media (max-width: 768px) {
  .form-field {
    flex-direction: column;
  }
  .contact-us-content {
    margin-left: 15vw;
    margin-right: 15vw;
  }
  h1 {
    font-size: 2.5rem;
  }

  .sub-section h2 {
    font-size: 1.5rem;
  }
  
  .sub-section p {
    font-size: 1rem;
  }
  
  .form-field label {
    font-size: 1.2rem;
  }
  
}