body, html {
    margin: 0;
    padding: 0;
  }
  
.contact-us-page {
  height: 100vh;
  text-align: left;
  padding: 0 15%;
  min-height: calc(100vh - 100px); /* Use min-height instead of max-height */
  background-image: url('./img/background-no-logo.png');
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-us-content {
    overflow: hidden;
    text-align: left;
    padding: 50px;
    max-height: calc(100vh - 100px); /* Adjust the value as needed */
    overflow-y: auto; /* Add vertical scroll if content exceeds max height */
  }
  
  /* Hide Webkit scrollbars (Chrome, Safari, newer versions of Opera) */
  .contact-us-content::-webkit-scrollbar {
    width: 0.1rem;
    background-color: transparent;
  }
  
  /* Hide Firefox scrollbar */
  .contact-us-content {
    scrollbar-width: none;
  }
  
  /* Styles for sub-sections within contact-us-content */
  .sub-section {
    margin-bottom: 40px;
  }
  
  .sub-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .sub-section p {
    margin-bottom: 10px;
    line-height: 1.6;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .product-image {
    max-width: calc(3em * 2);;
    height: calc(3em * 2); /* 3 times the height of the text */
    display: block;
    margin: 0 auto;
  }

  .product-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .product-table th,
  .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .product-table th {
    background-color: #f2f2f2;
  }
  
  .product-cell {
    display: flex;
    align-items: center;
  }
  
  .product-info {
    flex-grow: 1;
    padding-left: 10px;
  }
  
  .product-image {
    max-width: 100%;
    height: calc(3em * 3);
    display: block;
    margin: 0 auto;
  }
  
  .form-field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .form-field label {
    flex: 1;
    text-align: right;
    margin-right: 20px;
  }
  
  .form-field input,
  .form-field select,
  .form-field textarea {
    flex: 2;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .form-field input[type="checkbox"] {
    flex: 1;
    margin-right: 10px;
  }
  
  .form-field textarea {
    resize: vertical;
  }
  