/* FooterLinks.css */
.footer {
    background: none;
    color: white;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap; /* Allows links to wrap to the next line on smaller screens */
    margin: auto;
    flex-direction: column;
    z-index: 10008;
    text-align: left;
    font-family: 'Montserrat Alternates', sans-serif;
    width: 90%;
  }
  
  .footer-links {
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row; /* Display links in a row by default */
    z-index: 10008;
    text-align: center;
    justify-content: center;
    max-width: fit-content;
    flex-wrap: wrap; /* Allow links to wrap to the next line */
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    margin-right: 15px; /* Adjust as needed for spacing between links */
    margin-left: 15px; /* Adjust as needed for spacing between links */
    margin-top: 20px; /* Adjust as needed for spacing between links */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    z-index: 10008;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .copyright {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  
  .black-bar-bottom {
    height: var(--black-bar-bottom-height);
    min-height: fit-content;
    background-color: black;  
    background-image: url('./img/black-leather.png');
    position: absolute;
    left: var(--black-bar-width);
    right: var(--black-bar-width);
    z-index: 1008;
    border-radius: 5px;
    border-top: none;
  }
  
  :root {
    --black-bar-bottom-height: 200px;
  }
   
.logo-footer {
    margin-top: 2rem;
    width: 50%;
    max-width: 300px;
}

.copyright-and-logo {
    display: flex;
    flex-direction: column;;
    width: 100%;
    margin-bottom: 6rem;
}