body, html {
  margin: 0;
  padding: 0;
}

.landing-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./img/background-no-logo.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.landing-content {
  text-align: center;
  margin-top: 70px;
  margin-right: 8vw;
  margin-left: 8vw;
  padding: 50px;
  max-height: calc(100vh - 100px); /* Adjust the value as needed */
  overflow-y: auto; /* Add vertical scroll if content exceeds max height */
}

.logo,
.mantra,
.mission,
.enter-button {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.logo.show,
.mantra.show,
.mission.show,
.enter-button.show {
  opacity: 1;
  transform: translateY(0);
}

.logo {
  width: 500px;
  max-width: 60%;
}

.mantra {
  font-style: italic;
  font-size: 3rem;
  margin-top: 0px;
  margin-bottom: 30px;
}

.mission0,
.mission1,
.mission2,
.mission3,
.mission4 {
  font-size: 1.4rem;
  margin-top: 10px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.mission0.show,
.mission1.show,
.mission2.show,
.mission3.show,
.mission4.show {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  display: none;
}

.enter-button {
  margin-top: 0px;
  margin-bottom: 80px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
}

.enter-button:hover {
  background-color: #222 !important;
}

/* Hide the scrollbar for Firefox */
.landing-content {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Hide the scrollbar for Chrome, Edge, and Safari */
.landing-content::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

.landing-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}
  
@media (max-width: 768px) {
  .mantra {
    font-size: 1.5rem;
    margin-left: max(5px, 10px); /* Ensure at least 10px from left or 100px from left black bar */
    margin-right: max(5px, 10px); /* Ensure at least 10px from right or 100px from right black bar */
  }

  .logo {
    max-width: 90%;
  }
  .mission0,
  .mission1,
  .mission2,
  .mission3,
  .mission4 {
    font-size: 1rem;
    text-align: justify-content;
  }
  
}