/* ProductInfoPage.css */
body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.product-info-page {
  width: 100%;
  height: 100vh;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('./img/background-no-logo.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.product-info-content {
  margin-top: 80px;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  overflow-x: hidden;
}

.product-header {
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.product-image-order-panel {
  padding: 1rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 1rem;
}

.product-main-image {
  width: 500px; /* Set a fixed width of 90% of the container width */
  height: auto; /* Maintain the aspect ratio of the original image */
  border: 1px solid #ddd;
  margin: 0 1rem; /* Margin on both sides of the image */
}

.product-info {
  margin-top: 10rem;
  align-items: flex-start;
}

.info-field {
  text-align: left;
}

p {
  font-size: 1.2rem;
}

.info-field h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.add-to-cart-button {
  margin-top: 1rem;
}

/* Hide the scrollbar for Firefox */
.product-info-content {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Hide the scrollbar for Chrome, Edge, and Safari */
.product-info-content::-webkit-scrollbar {
  width: 6px;
}

.product-info-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.image-dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem
}

.image-dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s ease;
}

.image-dot.active {
  background-color: #333;
}

.quantity-input {
  flex-direction: row;
}

.option {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.order-options {
  justify-content: left;
}

.label-weight,
.label-grind-size,
.label-quantity {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.quantity-control {
  padding: 3px 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
}

.label-total {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.total-price-text {
  font-size: 2rem;
  margin-left: 1rem;
  font-family: 'Montserrat Alternates', sans-serif !important;
}

.option-input-field {
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
}

#quantity {
  width: 75px;
}

.add-to-cart-button {
  margin-top: 0;
}

.subscribe-button {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1536px) {
  .product-info-content {
    flex-direction: column; /* Change to column layout */
    align-items: center;
    padding: 1rem; /* Adjust padding as needed */
  }

  .product-image-order-panel {
    padding: 1rem;
    max-width: 100%; /* Allow the image to take full width in column layout */
  }

  .product-main-image {
    width: 100%; /* Set the image width to 100% for responsiveness */
    height: auto; /* Maintain aspect ratio */
  }
  .product-info {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .product-info-content {
    margin-left: 11vw;
    margin-right: 11vw;
    margin-bottom: 100px;
  }

  .product-image-order-panel {
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .label-weight,
  .label-grind-size,
  .label-quantity {
  font-size: 1.5rem;
  }
  .product-main-image {
    max-width: calc(100vw - 150px); 
  }
  body {
    overflow-x: hidden;
  }
}